@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gwnvke');
  src:  url('fonts/icomoon.eot?gwnvke#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gwnvke') format('truetype'),
    url('fonts/icomoon.woff?gwnvke') format('woff'),
    url('fonts/icomoon.svg?gwnvke#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-earth:before {
  content: "\e900";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-table:before {
  content: "\ea70";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-graduation-cap:before {
  content: "\e901";
}
