@keyframes animateThis {
  0% {
    width: 0px;
  }

  // 10% {
  //   width: 10%;
  // }
}

.bar-chart-wrapper {
  .bar-general-label {
    margin-left  : 20px;
    margin-bottom: 30px;
    font-weight  : bold;

    .label-name {
      display     : inline-block;
      margin-right: 10px;
      margin-top  : 15px;
    }

    .label-val {
      display: inline-block;
    }
  }

  .bar-bars-wrapper {
    margin-left: 20px;

    .bar-wrapper {
      margin: 10px 0;

      .bar-bar {
        transition         : width 3s;
        animation          : animateThis 3s ease-in;
        animation-fill-mode: forwards;
      }

      .bar-label {}
    }
  }
}