.bar-chart-wrapper {
  .bar-general-label {
    margin-left: 20px;
    margin-bottom: 30px;

    .label-name {
      display: inline-block;
      margin-right: 10px;
    }

    .label-val {
      display: inline-block;
    }
  }

  .bar-bars-wrapper {
    margin-left: 20px;

    .bar-wrapper {
      margin: 10px 0;

      .bar-bar {}

      .bar-label {}
    }
  }
}