$green     : #169b62;
$white     : #ffffff;
$orange    : #ff893f;
$yellow    : #f0ac01;
$dark-blue : #00005c;

$blue         : #0c457d;
$light-blue   : #428bca;
$red          : #d9534f;
$light-gray   : #ffefdb;
$light-yellow : #ffbe4f;
$best-yellow  : #fac05f;

body {
  background-color: $white;
}