.dropdown-wrapper {
  width: auto;

  .dropdown-search-input {
    display     : inline-block;
    width       : 85%;
    margin      : 2px auto;
    margin-left : 2px;
    padding-left: 2px;
  }

  .arrow-down {
    display     : inline-block;
    width       : 0;
    height      : 0;
    border-left : 10px solid transparent;
    border-right: 10px solid transparent;
    border-top  : 20px solid $light-blue;
    position    : relative;
    right       : 20px;
    top         : 5px;
    cursor      : pointer;
  }

  .dropdown-items {
    max-height          : 550px;
    overflow-y          : auto;
    padding-inline-start: 6px;
    background-color    : $lighter-blue;
    margin-block-end    : 0;
    margin-block-start  : 0;

    .dropdown-item {
      list-style: none;
      cursor    : pointer;

      &.selected {
        background-color: $blue;
      }
    }
  }
}