$green     : #169b62;
$white     : #ffffff;
$orange    : #ff893f;
$yellow    : #f0ac01;
$dark-blue : #00005c;

$blue         : #0c457d;
$light-blue   : #428bca;
$red          : #d9534f;
$light-gray   : #ffefdb;
$light-yellow : #ffbe4f;

body {
  background-color: $white;
}

.dropdown-wrapper {
  width: fit-content;

  .arrow-down {
    display     : inline-block;
    width       : 0;
    height      : 0;
    border-left : 10px solid transparent;
    border-right: 10px solid transparent;
    border-top  : 20px solid $light-blue;
    position    : relative;
    right       : 20px;
    top         : 5px;
    cursor      : pointer;
  }

  .dropdown-items {
    max-height: 400px;
    overflow-y: auto;


    .dropdown-item {
      list-style: none;
      cursor    : pointer;

      &.selected {
        background-color: $blue;
      }
    }
  }
}